.product-card {
    max-width: 304px;
    max-height: 435px;
}

.product-card-img {
    width: 303.33px;
    height: 343.33px;
    border-radius: 3px;
    overflow: hidden;
}

.product-card-img img,
.basket-card-img img,
.expert-help img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-name {
    text-align: left;
}

.p-price {
    font-weight: 500;
}

.basket-card-img,
.order-item img {
    width: 75.33px;
    height: 75.33px;
    border-radius: 3px;
    overflow: hidden;
    object-fit: cover;
}

.checkout-button {
    width: 100%;
    font-weight: 500;
    background-color: #3e2b2e;
    color: #fffffe;
    border: none;
    padding: .85em 4em;
    border-radius: 3px;
    transition: .5s ease-in-out;
}

.checkout-button:hover {
    background-color: #e4cebe;
    color: #3e2b2e;
    border: .1px solid rgba(62, 43, 46, .8);
}

.review-card,
.order-card {
    background-color: #faf4ef;
    border-radius: 3px;
    border: .1px solid rgba(62, 43, 46, .2);
}

.prim-font {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.prim-font-sm {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 600;
    text-transform: capitalize;
}

.quantity-input {
    width: 130px;
}

.qty-btn,
.auth-signin-btn {
    border-radius: 3px;
    padding: 0.85em;
    background-color: #3c2b2e;
    color: #fffffe;
    transition: .5s ease-in-out;
}

.qty-btn:hover,
.auth-signin-btn:hover {
    background-color: #e4cebe;
    color: #3c2b2e;
    border: .1px solid rgba(62, 43, 46, .8);
}

input#quantity {
    padding-left: 17%;
}

input#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* AddToBagModal */
.modal {
    position: absolute;
    height: auto;
    width: 365px;
    z-index: 9999;
    top: -60%;
    left: 67.25%;
    transform: translate(-52%, -50%);
}

.modal-content {
    background-color: #faf4ef;
    border: .1px solid rgba(62, 43, 46, .8);
    border-radius: 3px;
}

/* FeedbackCard */
.card-content {
    background-color: #faf4ef;
    border: .1px solid rgba(62, 43, 46, .8);
    border-radius: 3px;
}

/* Auth Modal */
.auth-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.auth-modal {
    background-color: #faf4ef;
    border: .1px solid rgba(62, 43, 46, .8);
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
}

.auth-modal .modal-header {
    border-bottom: none;
    margin-bottom: 10px;
    width: 100%;
}

.auth-modal .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.auth-modal .modal-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.auth-signup-btn {
    background-color: #e4cebe;
    color: #3b2e2b;
    border: none;
    padding: .85em;
    border-radius: 3px;
    transition: .5s ease-in-out;
}

.auth-signup-btn:hover {
    background-color: #e1c2ab;
    border: .1px solid #3b2e2b;
}

.btn-close:focus {
    box-shadow: none;
}