footer {
    background-color: #f9f4ef;
}

.footer-section>p {
    font-size: smaller;
    margin-bottom: .5rem;
}

.footer-section>form>label {
    max-width: 350px;
    font-size: small;
}

input[type="email"] {
    border: none;
    border-radius: 11px 0 0 11px;
    padding: .55em .85em;
}

.footer-btn {
    font-weight: 500;
    background-color: #202020;
    color: #fffffe;
    border: none;
    padding: .55em 1.25em;
    border-radius: 0 11px 11px 0;
    transition: .5s ease-in-out;
}

.footer-btn:hover {
    background-color: #9fa8d8;
}

.footer-bottom {
    font-size: small;
}