@import url('https://fonts.cdnfonts.com/css/sragentina');
@import url('https://fonts.cdnfonts.com/css/elyaris');
@import url('https://fonts.cdnfonts.com/css/quinsi');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

#hero {
    position: relative;
    z-index: 1;
}

.row>* {
    padding: 0;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    color: #fffffe;
}

.hero-content>p {
    min-width: 300px
}

.shop-btn {
    font-weight: 500;
    background-color: #3e2b2e;
    color: #fffffe;
    border: none;
    padding: .85em 4em;
    border-radius: 3px;
    transition: .5s ease-in-out;
}

.shop-btn:hover {
    background-color: #e4cebe;
    color: #3e2b2e;
    border: .1px solid rgba(62, 43, 46, .8);
}

.img-container {
    width: 100%;
    max-height: 750px;
    /* min-height: max-content; */
    overflow: hidden;
    position: relative;
}

.cropped-image img {
    width: 100%;
    height: auto;
}

.divider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.divider-svg {
    width: 100%;
    height: auto;
    display: block;
    fill: #ffffff;
}

.home-card {
    width: 280px;
}

.quiz {
    background-color: #faf4ef;
}

.expert-help-img {
    width: 253.33px;
    height: 253.33px;
    border-radius: 3px;
    overflow: hidden;
}

.expert-help-desc {
    width: 253px;
}

@media (max-width: 768px) {
    .hero-desc {
        top: 20%;
        transform: translateY(-50%);
    }
}