.sign-in-button,
.sign-up-button {
    width: 360px;
    font-weight: 500;
    background-color: #e4cebe;
    color: #3b2e2b;
    border: none;
    padding: .85em 4em;
    border-radius: 3px;
    transition: .5s ease-in-out;
}

.sign-in-button:hover,
.sign-up-button:hover {
    background-color: #e1c2ab;
    border: .1px solid #3b2e2b;
}