.fs {
  font-family: 'Quinsi', sans-serif;
  -webkit-font-smoothing: auto;
}

.prim-font {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.prim-font-sm {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  text-transform: capitalize;
}

.sec-font {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 1rem;
}

.sec-font-sm {
  font-family: "Hind Vadodara", sans-serif;
  font-size: .9rem;
}

.thr-font {
  font-family: "Montserrat", sans-serif;
}